In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

In [4]:
# Создаём сэмпл
n_samples = 500

car_age = np.random.choice(20, n_samples)
road_len = np.random.choice(100, n_samples)
fuel_consumption = np.random.choice(7, n_samples) + 3
oil_cost = np.random.choice(2, n_samples) + 40

road_price = (road_len/fuel_consumption) * oil_cost 

data = pd.DataFrame({'car_age': car_age, 'road_len': road_len, 
                     'fuel_consumption': fuel_consumption, 
                     'oil_cost' : oil_cost,'road_price': road_price})
data.head(5)

   car_age  road_len  fuel_consumption  oil_cost  road_price
0        3        31                 6        41  211.833333
1        0        22                 7        40  125.714286
2        9        23                 8        41  117.875000
3       16        52                 5        41  426.400000
4       12        50                 6        41  341.666667

In [10]:
from sklearn.metrics import mean_absolute_error

X = data[['car_age', 'road_len', 'fuel_consumption', 'oil_cost']]
y = data['road_price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['car_age', 'road_len', 'fuel_consumption', 'oil_cost']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [ -0.79300433   7.75280834 -71.72010565  13.64954451]
Bias: -118.43583975062802
Error: 69.70888806907844

In [11]:
X = data[['road_len', 'fuel_consumption', 'oil_cost']]
y = data['road_price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['road_len', 'fuel_consumption', 'oil_cost']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [  7.75317625 -71.79402043  14.24793337]
Bias: -149.35585897150338
Error: 69.73988030026214

In [12]:
# Создаем новый признак
data['liter'] = data['road_len'] / data['fuel_consumption']
data.head(5)

   car_age  road_len  fuel_consumption  oil_cost  road_price      liter
0        3        31                 6        41  211.833333   5.166667
1        0        22                 7        40  125.714286   3.142857
2        9        23                 8        41  117.875000   2.875000
3       16        52                 5        41  426.400000  10.400000
4       12        50                 6        41  341.666667   8.333333

In [14]:
X = data[['liter', 'oil_cost']]
y = data['road_price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['liter', 'oil_cost']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [40.56547218  9.22264617]
Bias: -373.7939433886603
Error: 2.5873576045025732